.App {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.App-video-element {
  height: 50vh;
  width: 50vw;
  background-color: purple;
  transition: all 2s;
}

.App-top-left {
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  transition: all 2s;
}

.App-top-right {
  position: absolute;
  left:auto;
  top: 0;
  right: 0;
  bottom: auto;
  transition: all 2s;
}

.App-bottom-left {
  position: absolute;
  left: 0;
  top: auto;
  right: auto;
  bottom: 0;
  transition: all 2s;
}

.App-bottom-right {
  position: absolute;
  left: auto;
  top: auto;
  bottom:0;
  right:0;
  transition: all 2s;
}

